{#
/**
 * @file
 * Default theme implementation for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 *
 * @ingroup themeable
 */
#}
<form class="col-sm-4 form--login-container" {{ attributes }} >
  {{ children }}
  <div class="">
  {% if element['#id'] == "user-login-form"%}
    <a class="button btn-primary btn" href="/user/register">
        Create an account
    </a>
  {% endif %}
  </div>
</form>