.col-sm-3 {
	width: 22%;
	height: 750px;
	position: fixed;
	top: 60px;
	bottom: 0;
	left: 45px;
	margin-right: 5%;
	background-color: #101010;
	box-shadow: 15px 0px 10px -15px rgba(0,0,0,0.8 );
}

.well {
	height:120%;
	width: 100%;
	border: 0;
	border-radius: 0px;
 	background-color: #101010;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.block-user {
	margin-left: 20px;
	margin-top: 30%;
	color: #e0e0e0;
}

.well .form-control {
	color: #e0e0e0;
	background-color: #505050;
}

.block-user a {
	color: white;
}

@media screen and (max-width: 768px){
	.col-sm-3 {
		left:0px;
		margin-left: -2%;
		margin-right: 0%;
	}
}


