// thread customization under /modules/comment/comment.tpl.php

.customized-content{
display:none;
}

.row .col-sm-12 h1{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.field-label{
        font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.field-items p{
        font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 17px;
}
