.profile .field-type-taxonomy-term-reference, .profile .field-type-text-with-summary{
 margin-top: 0px;
 margin-bottom: 10px;
 margin-left: 250px;
 padding: 10px;
 font-family: "Trebuchet MS", Helvetica, sans-serif;
 box-shadow: 0px 15px 10px -15px rgba(0,0,0,0.4), -15px 0px 10px -15px rgba(0, 0, 0, 0.2);    
 transition: 200ms;
}

.profile .field-type-text-with-summary{
 margin-top: 0px;
}

.profile h2{
 display:none;
}

.profile .field-type-taxonomy-term-reference:hover, .profile .field-type-text-with-summary:hover{
 transition: 200ms;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profile .field-label{
 display: none;
 margin-left: 180px;
 font-family: "Trebuchet MS", Helvetica, sans-serif;
 font-weight: 100; 
}

.profile .img-responsive{
 position:absolute;
 margin-left: 0px;
}

.profile h3{
 display:none;
}

.profile dl dt{
 margin-top:20px;
 font-family: "Trebuchet MS", Helvetica, sans-serif;
 color: #808080;
 font-style: italic;
}

